**

!Cargo.toml
!Cargo.lock
!config.example.yml
!Dockerfile
!LICENSE
!NOTICE
!LICENSING.md
!RELINKING.md

!crates
!crates/**
!LICENSES
!LICENSES/**
!migrations
!migrations/**
!frontend
!frontend/**

**/target
frontend/dist
frontend/node_modules
